# Predicting Himalayan Expedition Success - Data Cleaning
***

## Introduction

The Himalayan Database ©, consists of records for all expeditions in the Nepal Himalayas from 1905 through 2018. The database covers expeditions to more than 450 significant peaks, including Everest, Cho Oyu and Kangchenjunga. The database is published by The Himalayan Database ©, a non-profit organization. For more information go to http://himalayandatabase.com/index.html.

### Datasets
Two datasets are of interest: expeditions.csv and members.csv (http://himalayandatabase.com/downloads.html).

###### peaks.csv
This file contains information about each one of the more than 450 peaks, location, region, status, first ascent and more.

###### expedions.csv
This file contains information including date, peak, route, suplemantal oxygen, group size and sherpas.

###### members.csv
This file contains biographical information on each member in the expedition, including nationality, age, oxygen use, and success.

### Outcome

Nearly 10,000 expedition records and over 70,000 members records can then predict member success of a summitting a certain peak, during a certain time of year, with certain support mechanisms.

## 1. Packages and setup

In [216]:
import pandas as pd
import numpy as np
import re
import random
from IPython.core.interactiveshell import InteractiveShell

In [217]:
# Set workspace

# Set output charackters to 110 (not 79)
pd.options.display.width = 110
# To give multiple cell output. Not just the last command.
InteractiveShell.ast_node_interactivity = "all"

## 2. Peaks dataset cleaning

In [218]:
# Load peaks as 'peaks_csv'
peaks_csv = pd.read_csv('peaks.csv')
print('Shape:', peaks_csv.shape)

peaks_csv.info()

Shape: (468, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 22 columns):
peakid        468 non-null object
pkname        468 non-null object
pkname2       238 non-null object
location      467 non-null object
heightm       468 non-null int64
heightf       468 non-null int64
himal         468 non-null int64
region        468 non-null int64
open          468 non-null bool
unlisted      468 non-null bool
trekking      468 non-null bool
trekyear      29 non-null float64
restrict      270 non-null object
phost         468 non-null int64
pstatus       468 non-null int64
pyear         325 non-null float64
pseason       468 non-null int64
pexpid        322 non-null object
psmtdate      319 non-null object
pcountry      325 non-null object
psummiters    460 non-null object
psmtnote      75 non-null object
dtypes: bool(3), float64(2), int64(7), object(10)
memory usage: 70.9+ KB

Referring to the 'Himalayan Database Guide.pdf', the following features will not be included:

pkname, pkname2 - The names of the peaks are not required for analysis, but can be inluded post-analysis.

location - This field gives a long description of the expedition only. The locations are better captured with categorical data 'himal' and 'region'.

heightf - Only 'heightm', the height in meters, are used.

pseason, pexpid, psmtdate, pcountry, psummiters, psmnote - Information on the first ascent of a certain peak. Not relevant.

In [219]:
# Select only relevant peaks features 
peaks_features = ['peakid', 'heightm', 'himal', 'region', 'open', 'unlisted', 'trekking', 'trekyear', 
                  'restrict', 'phost', 'pstatus', 'pyear']

# New dataframe with only selected columns
peaks = peaks_csv[peaks_features]

# Inspect the data
peaks.head()
peaks.info()
peaks.describe()

  peakid  heightm  himal  region  open  unlisted  trekking  trekyear        restrict  phost  pstatus   pyear
0   ACHN     6055     17       7  True     False     False       NaN  Opened in 2014      1        2  2015.0
1   AGLE     6675     19       2  True     False     False       NaN  Opened in 2014      1        1     NaN
2   AMAD     6814     12       2  True     False     False       NaN             NaN      1        2  1961.0
3   AMOT     6393      3       5  True     False     False       NaN  Opened in 2002      1        1     NaN
4   AMPG     5630     12       2  True     False     False       NaN  Opened in 2002      1        2  1953.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 12 columns):
peakid      468 non-null object
heightm     468 non-null int64
himal       468 non-null int64
region      468 non-null int64
open        468 non-null bool
unlisted    468 non-null bool
trekking    468 non-null bool
trekyear    29 non-null float64
restrict    270 non-null object
phost       468 non-null int64
pstatus     468 non-null int64
pyear       325 non-null float64
dtypes: bool(3), float64(2), int64(5), object(2)
memory usage: 34.4+ KB

           heightm       himal      region     trekyear       phost     pstatus        pyear
count   468.000000  468.000000  468.000000    29.000000  468.000000  468.000000   325.000000
mean   6656.653846   10.258547    3.820513  1918.758621    2.126068    1.707265  1983.510769
std     571.898154    5.585948    2.150107   365.364168    1.514782    0.455505    23.674178
min    5407.000000    1.000000    1.000000    20.000000    1.000000    1.000000  1909.000000
25%    6235.750000    5.000000    2.000000  1978.000000    1.000000    1.000000  1963.000000
50%    6559.500000   11.000000    4.000000  1978.000000    1.000000    2.000000  1981.000000
75%    6911.000000   15.000000    6.000000  2002.000000    4.000000    2.000000  2007.000000
max    8850.000000   20.000000    7.000000  2002.000000    6.000000    2.000000  2018.000000

The missing values for 'restrict' will be negated when introducing 'expeditions.csv'. Example, a peak's open status ('open' = True) changes from False on year 'openyear', when the Nepal government approved the peak.

In the same way 'restrict' indicates the year the 'open' status changed between closed or open, however in this case the year and open/closed inside the 'restrict' column will have to be used to create a new column indicating when the peak's status changed. If the new column, called 'openyear' contains a date (year), the 'open' value will simply switch between True/False.

The missing values for column 'pyear', or the first ascent year, will be determined from 'expedition.csv' where the fist expedition date for the specific peak took place.

The column 'trekyear' is type float due to the NaN values. Notice 'trekyear' has a minimum value of 20, which can't be right.

In [220]:
# Inspect 'trekyear'
peaks['trekyear'].value_counts(dropna=False)

NaN       439
1978.0     18
2002.0     10
20.0        1
Name: trekyear, dtype: int64

Referring to the one entry with year '20', if you looking at the value counts, the only other option for an entry is the year 1978, but the entry already starts with '20'. Therefore assume the entry should have been the year 2002.

In any case, with only 2 years for which these entries exits, 1978 and 2002, one cannot assume that the features, 'trekking' and 'trekyear' will affect a significant difference. In addition, the Nepalese government does not include trekking peaks in their statistical reports and analysis. Therefore, 'trekking' and 'trekyear' will be ommited.

In [221]:
# Deleting columns 'trekking' and 'trekyear'.
peaks = peaks.drop(['trekking', 'trekyear'], axis=1, errors='ignore')
peaks.columns

Index(['peakid', 'heightm', 'himal', 'region', 'open', 'unlisted', 'restrict', 'phost', 'pstatus', 'pyear'], dtype='object')

In [222]:
# Inspect 'open' and 'restrict'

# Exclude all NaN's and retain DataFrame
inspect = peaks[peaks['restrict'].notnull()][['open', 'restrict']]
# Only select rows that contain values in 'restrict' 
inspect_open = inspect[inspect['restrict'].str.contains('Open')]

# Create pattern that identifies "Opened in <year>" from column 'restrict'.
pattern = re.compile('Opened in \d{4}$')
mask = inspect_open['restrict'].apply(lambda x : True if bool(pattern.match(x)) else False)
inspect_open[mask].head()

# Now only show the rows that don't match the pattern "Opened in <year>" for further inspection.
inspect_open[~mask]

   open        restrict
0  True  Opened in 2014
1  True  Opened in 2014
3  True  Opened in 2002
4  True  Opened in 2002
5  True  Opened in 2002

      open                                           restrict
40   False                    Opened in 2002 as trekking peak
53   False  Opened in 1997; converted to trekking peak in ...
142   True                                    Opened in 2013?
146  False                  Opened in 2002, delisted in 2013?
219  False                    Opened in 2002 as trekking peak
301   True                     Opened in 2014 as Hillary Peak
302   True                     Opened in 2014 as Tenzing Peak
310  False                    Opened in 2002 as trekking peak
319  False                    Opened in 2002 as trekking peak
377   True                    Opened in 2014 (as Khang Karpo)

As can be seen, where 'open' = False, the 'restrict' value only refers to trekking status, thus those values can set to NaN.

In [223]:
# Find indices where 'open' = False AND 'restrict' does not match the pattern
val_to_remove = inspect_open[~mask]
#val_to_remove[val_to_remove['open'] == False]

# Find only these calues in peaks DataFrame
idx = val_to_remove[val_to_remove['open'] == False].index
#peaks.loc[idx]

# Change these values to NaN
peaks['restrict'].loc[idx] = None

# Check new correct values
peaks.loc[idx]

# Look for the other 'Opened in ...' entries and 
peaks['restrict'].value_counts(dropna=False)

    peakid  heightm  himal  region   open  unlisted restrict  phost  pstatus   pyear
40    CHEK     6121     19       2  False     False     None      4        2  2005.0
53    CHRI     5550     12       2  False     False     None      1        2  1965.0
146   HUNK     6119     12       2  False      True     None      1        2  2012.0
219   KYAZ     6151     12       2  False     False     None      1        2  2002.0
310   NREK     6159     12       2  False     False     None      1        2     NaN
319   OMBG     6340     12       2  False     False     None      1        2  1960.0

NaN                                                   204
Opened in 2014                                         97
Opened in 2002                                         92
Opened in 2003                                         40
Opened in 1997                                          4
Opened in 2001                                          4
One permit for Churen Himal's three summits             3
Converted to trekking peak in 2002                      3
Requires permit for Jobo Rinjang                        3
Requires permit for Annapurna I                         2
Peak entirely within China                              2
Requires permit for Nuptse                              2
Opened in 2014 (as Khang Karpo)                         1
Requires permit for Gimmigela Chuli                     1
Opened in 2016                                          1
Opened in 2014 as Hillary Peak                          1
Opened in 2013?                                         1
Requires Jannu permit                                   1
Delisted in 2014                                        1
Requires permit for Lachama Chuli                       1
Opened in 2014 as Tenzing Peak                          1
Closed                                                  1
One permit for Kanjiroba's north and south summits      1
Requires permit for Amphu I                             1
Name: restrict, dtype: int64

In [224]:
# Now the year values can be retreived and saved as float in a new column.
# Why not int? Pandas float works better when series contains NaN's

# Inspect 'open' and 'restrict' again after some values changed in 'restrict'
# Exclude all NaN's and retain DataFrame
inspect = peaks[peaks['restrict'].notnull()][['open', 'restrict']]
# Only select rows that contain values in 'restrict' 
inspect_open = inspect[inspect['restrict'].str.contains('Open')]

# New values
inspect_open['restrict'].value_counts()

# Get year information only
pattern2 = re.compile('\d{4}')

# Add peaks column 'openyear' and remove column 'restrict'
peaks['openyear'] = inspect_open['restrict'].apply(lambda x : re.findall(pattern2, x)[0])
peaks = peaks.drop('restrict', axis=1, errors='ignore')

Opened in 2014                     97
Opened in 2002                     92
Opened in 2003                     40
Opened in 2001                      4
Opened in 1997                      4
Opened in 2014 as Tenzing Peak      1
Opened in 2014 as Hillary Peak      1
Opened in 2014 (as Khang Karpo)     1
Opened in 2013?                     1
Opened in 2016                      1
Name: restrict, dtype: int64

In [225]:
# Convert columns 'openyear' to float
peaks['openyear'] = peaks['openyear'].astype(float)

# Review data
peaks.head()
peaks.info()

  peakid  heightm  himal  region  open  unlisted  phost  pstatus   pyear  openyear
0   ACHN     6055     17       7  True     False      1        2  2015.0    2014.0
1   AGLE     6675     19       2  True     False      1        1     NaN    2014.0
2   AMAD     6814     12       2  True     False      1        2  1961.0       NaN
3   AMOT     6393      3       5  True     False      1        1     NaN    2002.0
4   AMPG     5630     12       2  True     False      1        2  1953.0    2002.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 10 columns):
peakid      468 non-null object
heightm     468 non-null int64
himal       468 non-null int64
region      468 non-null int64
open        468 non-null bool
unlisted    468 non-null bool
phost       468 non-null int64
pstatus     468 non-null int64
pyear       325 non-null float64
openyear    242 non-null float64
dtypes: bool(2), float64(2), int64(5), object(1)
memory usage: 30.2+ KB

In [226]:
# Convert these columns from bool to binary
to_bin = ['open', 'unlisted']
peaks[to_bin] = peaks[to_bin].astype('int8')

In [227]:
# Lastly, convert himal, region, phost and pstatus to category
peaks[['himal', 'region', 'phost', 'pstatus']] = peaks[['himal', 'region', 'phost', 'pstatus']].astype('category')
peaks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 10 columns):
peakid      468 non-null object
heightm     468 non-null int64
himal       468 non-null category
region      468 non-null category
open        468 non-null int8
unlisted    468 non-null int8
phost       468 non-null category
pstatus     468 non-null category
pyear       325 non-null float64
openyear    242 non-null float64
dtypes: category(4), float64(2), int64(1), int8(2), object(1)
memory usage: 18.9+ KB

The 'peaks' data set is complete. Columns with NaN values 'pyear' and 'openyear' will be completed when joined with the 'epedition' data set.

## 3. Expedition dataset cleaning

In [228]:
# Load expeditions as 'xpd' for short
xpd = pd.read_csv('expeditions.csv')

# Inspect the total entries and non-null values
xpd.shape
xpd.info()

(9959, 65)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9959 entries, 0 to 9958
Data columns (total 65 columns):
expid         9959 non-null object
peakid        9959 non-null object
year          9959 non-null int64
season        9959 non-null int64
host          9959 non-null int64
route1        9806 non-null object
route2        307 non-null object
route3        30 non-null object
route4        5 non-null object
nation        9959 non-null object
leaders       9935 non-null object
sponsor       9139 non-null object
success1      9959 non-null bool
success2      9959 non-null bool
success3      9959 non-null bool
success4      9959 non-null bool
ascent1       2719 non-null object
ascent2       101 non-null object
ascent3       11 non-null object
ascent4       4 non-null object
claimed       9959 non-null bool
disputed      9959 non-null bool
countries     3224 non-null object
approach      4677 non-null object
bcdate        9959 non-null object
smtdate       9959 non-null object
smttime       4273 non-null float64
smtdays       9959 non-null int64
totdays       9959 non-null int64
termdate      9959 non-null object
termreason    9959 non-null int64
termnote      4308 non-null object
highpoint     9959 non-null int64
traverse      9959 non-null bool
ski           9959 non-null bool
parapente     9959 non-null bool
camps         9959 non-null int64
rope          9959 non-null int64
totmembers    9959 non-null int64
smtmembers    9959 non-null int64
mdeaths       9959 non-null int64
tothired      9959 non-null int64
smthired      9959 non-null int64
hdeaths       9959 non-null int64
nohired       9959 non-null bool
o2used        9959 non-null bool
o2none        9959 non-null bool
o2climb       9959 non-null bool
o2descent     9959 non-null bool
o2sleep       9959 non-null bool
o2medical     9959 non-null bool
o2taken       9959 non-null bool
o2unkwn       9959 non-null bool
othersmts     1965 non-null object
campsites     9632 non-null object
accidents     3411 non-null object
achievment    913 non-null object
agency        8394 non-null object
comrte        9959 non-null bool
stdrte        9959 non-null bool
primrte       9959 non-null bool
primmem       9959 non-null bool
primref       9959 non-null bool
primid        651 non-null object
chksum        9959 non-null int64
dtypes: bool(23), float64(1), int64(16), object(25)
memory usage: 3.4+ MB

### Referring to the 'Himalayan Database Guide.pdf', the following features will not be included:

route2-4 - Since 'route1' has significantly less null values compared to 'route2/3/4', only 'route1' will be used. There is also little information on 'route2/3/4' information in the documentation.

sponsor - Looking at it's value_counts, there are too many NaN values and sponsors with the most counts are independent, non-descript entries.

success1-4 - Aggregate success[1-4] to new column xpd_success. If any attempt at summit 'success[1-4]' was successful, then 'xpd_success' will be true.

ascent1-4 - For the same reason as 'route2-4', 'ascent1-4' has not contain enough data and according to the documentation, these numbers are not maintained for recent ascends of some peaks.

claimed - This describes disputed successes which, according to the documentation, is not included as successes in statistical reports and analysis. Value_counts only give 30 True values, which does not affect 'success1'.

disputed - This describes the disputed nature of this summit, but does not affect the outcome of 'success1'.

countries - Too many NaN values. This data will be captured by the members dataset.

approach - Too many NaN values.

bcdate - The base camp date, 'bcdate', will be discounted by the summit date, as more relevant.

smttime, smtdays, totdays, termdate - Too many Null values.

termnote, highpoint - Not relevant.

o2unkwn - Only 21 True values. The other oxygen related columns covers the 21 unknown oxygen use columns.

othersmts, campsites, accidents, achievement - Detailed descriptive information. Cannot be used.

stdrte - This is the 8000m standard route. Not applicable to all peaks then.

primrte, primmem, primref, primid, chksum - Not relevent. Database related fields.


Output (Y) - Feature 'termreason' will be used as the outcome.

In [229]:
# Drop the following features
drop_columns = ['route2', 'route3', 'route4', 'sponsor', 'ascent1', 'ascent2', 'ascent3', 'ascent4', 
                'claimed', 'disputed', 'countries', 'approach', 'bcdate', 'smttime', 'smtdays', 'totdays',
                'termdate', 'termnote', 'highpoint', 'o2unkwn', 'o2taken', 'othersmts', 'campsites', 'accidents', 
                'achievment', 'primrte', 'primmem', 'primref', 'primid', 'chksum']

# Drop the columns not needed
xpd.drop(drop_columns, inplace=True, axis=1)

xpd.shape
xpd.columns

(9959, 35)

Index(['expid', 'peakid', 'year', 'season', 'host', 'route1', 'nation', 'leaders', 'success1', 'success2',
       'success3', 'success4', 'smtdate', 'termreason', 'traverse', 'ski', 'parapente', 'camps', 'rope',
       'totmembers', 'smtmembers', 'mdeaths', 'tothired', 'smthired', 'hdeaths', 'nohired', 'o2used',
       'o2none', 'o2climb', 'o2descent', 'o2sleep', 'o2medical', 'agency', 'comrte', 'stdrte'],
      dtype='object')

Aggregate columns 'success[1-4]' to new column 'xpd_success'.

In [230]:
# New column 'xpd_success' from 'success[1-4]'
xpd['xpd_success'] = 1
xpd['xpd_success'] = xpd['xpd_success'].where((xpd['success1'] == True) | (xpd['success2'] == True) | \
                                           (xpd['success3'] == True) | (xpd['success4'] == True), 0)

# Drop columns 'success[1-4]'
drop_columns = ['success1', 'success2', 'success3', 'success4']
xpd.drop(drop_columns, inplace=True, axis=1)

Further data cleaning follows.

Note: For 'nation' former names of countries have to be used. Example, expeditions from Eastern Bloc countries before 1993 were recorded as USSR. It is not possible now to tell from which post-1993 country they belong to. Therefore post-1993 expeditions for these countries will be grouped under USSR. 

Czech Republic and Slovakia will change to Czechoslovakia.
Belarus, Estonia, Georgia, Kazakhstan, Latvia, Lithuania, Russia, Ukrain and Uzbekistan will change to USSR.
Exception; 'W Germany' will change to 'Germany'.

##### Clean the data for the remaining features

In [232]:
# Convert these columns to category
to_cat = ['season', 'host', 'termreason']
for col in to_cat:
    xpd[col] = xpd[col].astype('category')
    
xpd['route1'].value_counts('dropna=False')

SW Ridge                                               0.140526
S Col-SE Ridge                                         0.108913
NW side                                                0.103100
N Col-NE Ridge                                         0.065776
NE Face                                                0.062921
NE Ridge                                               0.040587
W Face                                                 0.039670
SE Ridge                                               0.037120
Makalu La-NW Ridge                                     0.025189
N Face                                                 0.022027
NW Ridge                                               0.019172
SW Face                                                0.017438
W Ridge                                                0.017234
S Face                                                 0.012951
S Ridge                                                0.011728
N Ridge                                                0.008260
SE Face                                                0.007342
W Ridge-W Face from N                                  0.006221
E Ridge                                                0.005813
N Col-N Face                                           0.005099
SE Face-E Ridge                                        0.004691
NE Spur-N Ridge                                        0.004181
E Face                                                 0.003875
NW Face                                                0.002753
E Ridge from S                                         0.002753
N Col-N Ridge-N Face                                   0.002651
W Ridge-W Face from S                                  0.002549
Reconnaissance                                         0.002346
S side                                                 0.002346
N Face (Dutch Rib)                                     0.002142
                                                         ...
NE Face?                                               0.000102
NW Ridge to N Peak                                     0.000102
N Face-N Ridge (to 6400m)                              0.000102
SE Ridge (intended)                                    0.000102
From SE Barun Glacier                                  0.000102
SW Face-SE Ridge                                       0.000102
S Face (right side via Couloir)                        0.000102
Chinese route                                          0.000102
W Face of N Col                                        0.000102
S Ridge from south                                     0.000102
N Face (1980 German rte)                               0.000102
SE Ridge-SW Summit                                     0.000102
N Face-Kwangde Shar-Main Smt (up); NE Ridge (down)     0.000102
NE Ridge-NW Face-NW Ridge-N Smt (up); N Face (down)    0.000102
S Face (variation of Bonington rte)                    0.000102
W Face (to 7000m)                                      0.000102
N Ridge up; W side down                                0.000102
E Face of S Ridge                                      0.000102
W Face-NNW Ridge                                       0.000102
S Face (from 6800m to right of Bonington rte)          0.000102
SW Face (to 8450m)                                     0.000102
N Pillar from west via east glacier                    0.000102
NE Face (variation at start)                           0.000102
Eastern most buttress of E Face                        0.000102
S side-S Ridge (to E Peak) (to 7250m)                  0.000102
W Ridge-W Face from N (Tichy var)                      0.000102
Arete on S Face-Pt 7726 on Smt Ridge                   0.000102
W Face of Lunag I                                      0.000102
W Ridge from S Face                                    0.000102
NW Face (right side of N Pillar)                       0.000102
Name: route1, Length: 1219, dtype: float64

In [233]:
# Convert these columns from bool to binary
to_bin = ['traverse', 'ski', 'parapente', 'nohired', 'o2used', 'o2none', 'o2climb', 'o2descent', 
          'o2sleep', 'o2medical', 'comrte', 'stdrte']
xpd[to_bin] = xpd[to_bin].astype('int8')

In [195]:
# 'route1' has 153 NaN. Change each NaN value to the index number as a random name. 
def replace_nan_with_diff_object_val(df, column):
    """ Replace NaN values in a column with different object values in DataFrame df"""
    df[column].loc[df[column].isnull()] = \
        df[column].loc[df[column].isnull()].apply(lambda x: random.randint(0, 1000))

replace_nan_with_diff_object_val(xpd, 'route1')

In [196]:
# 'nation' includes  older names of countries in the previous Eastern Bloc. For consistency, change 
# new country names to older ones. 
xpd['nation'] = xpd['nation'].replace(to_replace='W Germany/Iran', value='Germany/Iran')
xpd['nation'] = xpd['nation'].replace(to_replace='W Germany', value='Germany')

current_name = ['Czech Republic', 'Slovakia']
for name in current_name:
    xpd['nation'] = xpd['nation'].replace(to_replace=name, value='Czechoslovakia')
    
current_name = ['Croatia', 'Macedonia', 'Serbia',' Slovenia']
for name in current_name:
    xpd['nation'] = xpd['nation'].replace(to_replace=name, value='Yugoslavia')
    
current_name = ['Belarus', 'Estonia', 'Georgia', 'Kazakhstan', 'Latvia', 'Lithuania', 'Russia', 
                'Ukrain', 'Uzbekistan']
for name in current_name:
    xpd['nation'] = xpd['nation'].replace(to_replace=name, value='USSR')
    
# leaders has 24 NaN. Change each NaN value to the index number as a random name.
replace_nan_with_diff_object_val(xpd, 'leaders')

In [197]:
# smtdate get month data only as category. There are 634 NaNs. 
# Extract month information
xpd['smtmonth'] = xpd['smtdate'].str.split('/').str[1]
# Convert to float in order to calcualte mean and replace NaNs with the mean
xpd['smtmonth'] = xpd['smtmonth'].astype(float)
xpd['smtmonth'] = xpd['smtmonth'].fillna(xpd['smtmonth'].mean())
# Convert back to int to drop the decimals, then convert to category
xpd['smtmonth'] = xpd['smtmonth'].astype(int).astype('category')
# Drop the 'smtdate' column - not needed.
xpd.drop('smtdate', inplace=True, axis=1)

In [198]:
# tothired - (nohired = True) indicates true zero for 'tothired'. Find the Falses and allocate 
# mean values. There are 260 missing values.
xpd['tothired'].loc[idx] = xpd['tothired'].mean().round()
xpd['tothired'] = xpd['tothired'].apply(lambda x: int(x))

In [199]:
# agency has 1565 NaN. 
replace_nan_with_diff_object_val(xpd, 'agency')

In [200]:
# Inspect cleaned xpd dataframe
xpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9959 entries, 0 to 9958
Data columns (total 32 columns):
expid          9959 non-null object
peakid         9959 non-null object
year           9959 non-null int64
season         9959 non-null category
host           9959 non-null category
route1         9959 non-null object
nation         9959 non-null object
leaders        9959 non-null object
termreason     9959 non-null category
traverse       9959 non-null int8
ski            9959 non-null int8
parapente      9959 non-null int8
camps          9959 non-null int64
rope           9959 non-null int64
totmembers     9959 non-null int64
smtmembers     9959 non-null int64
mdeaths        9959 non-null int64
tothired       9959 non-null int64
smthired       9959 non-null int64
hdeaths        9959 non-null int64
nohired        9959 non-null int8
o2used         9959 non-null int8
o2none         9959 non-null int8
o2climb        9959 non-null int8
o2descent      9959 non-null int8
o2sleep        9959 non-null int8
o2medical      9959 non-null int8
agency         9959 non-null object
comrte         9959 non-null int8
stdrte         9959 non-null bool
xpd_success    9959 non-null int64
smtmonth       9959 non-null category
dtypes: bool(1), category(4), int64(10), int8(11), object(6)
memory usage: 1.4+ MB

In [201]:
# Now look at peaks again
peaks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 10 columns):
peakid      468 non-null object
heightm     468 non-null int64
himal       468 non-null category
region      468 non-null category
open        468 non-null int8
unlisted    468 non-null int8
phost       468 non-null category
pstatus     468 non-null category
pyear       325 non-null float64
openyear    242 non-null float64
dtypes: category(4), float64(2), int64(1), int8(2), object(1)
memory usage: 18.9+ KB

Now use xpd DataFrame to clean 'pyear'.

In [202]:
# For xpd, find min(year) for peakid
peak_open_year = xpd.groupby('peakid')['year'].min()

# Merge this new Series with peaks DF
peaks_merge = pd.merge(peaks, peak_open_year, on=['peakid'])

# Replace NaN values in 'pyear' with values in 'year'
peaks_merge['pyear'].loc[peaks_merge['pyear'] != peaks_merge['pyear']] = peaks_merge['year']
  
# Drop 'year' as it is not needed anymore
peaks_merge.drop('year', inplace=True, axis=1)

# Now that there are no NaNs, change 'pyear' type to int
peaks_merge['pyear'] = peaks_merge['pyear'].astype(int)

# Review
peaks_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380 entries, 0 to 379
Data columns (total 10 columns):
peakid      380 non-null object
heightm     380 non-null int64
himal       380 non-null category
region      380 non-null category
open        380 non-null int8
unlisted    380 non-null int8
phost       380 non-null category
pstatus     380 non-null category
pyear       380 non-null int32
openyear    166 non-null float64
dtypes: category(4), float64(1), int32(1), int64(1), int8(2), object(1)
memory usage: 27.0+ KB

## 4. Merge peaks and expeditions, then clean

In [203]:
xpd_peak = pd.merge(xpd, peaks_merge, on='peakid')
xpd_peak.shape
xpd_peak.info()

(9959, 41)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9959 entries, 0 to 9958
Data columns (total 41 columns):
expid          9959 non-null object
peakid         9959 non-null object
year           9959 non-null int64
season         9959 non-null category
host           9959 non-null category
route1         9959 non-null object
nation         9959 non-null object
leaders        9959 non-null object
termreason     9959 non-null category
traverse       9959 non-null int8
ski            9959 non-null int8
parapente      9959 non-null int8
camps          9959 non-null int64
rope           9959 non-null int64
totmembers     9959 non-null int64
smtmembers     9959 non-null int64
mdeaths        9959 non-null int64
tothired       9959 non-null int64
smthired       9959 non-null int64
hdeaths        9959 non-null int64
nohired        9959 non-null int8
o2used         9959 non-null int8
o2none         9959 non-null int8
o2climb        9959 non-null int8
o2descent      9959 non-null int8
o2sleep        9959 non-null int8
o2medical      9959 non-null int8
agency         9959 non-null object
comrte         9959 non-null int8
stdrte         9959 non-null bool
xpd_success    9959 non-null int64
smtmonth       9959 non-null category
heightm        9959 non-null int64
himal          9959 non-null category
region         9959 non-null category
open           9959 non-null int8
unlisted       9959 non-null int8
phost          9959 non-null category
pstatus        9959 non-null category
pyear          9959 non-null int32
openyear       575 non-null float64
dtypes: bool(1), category(8), float64(1), int32(1), int64(11), int8(13), object(6)
memory usage: 1.7+ MB

For each expedition the peak 'open' status might be different depending on the year when the Nepalese government approved the peak for official expeditions.

In [204]:
# If the expedition 'year' is less than 'openyear', the 'open' value is False (0), else if the expedition 'year' is 
# more than 'openyear', the 'open' value is True (1). If 'openyear' is NaN, the 'open' status remains unchanged.

# Keep 'pyear' value, unless NaN - then use 'year' value
for idx, row in xpd_peak.iterrows():
    # If a float value does not equal itself, it must be NaN
    if not row['openyear'] != row['openyear']:
        if row['year'] < row['openyear']:
            xpd_peak['open'].loc[idx] = 0
        else:
            xpd_peak['open'].loc[idx] = 1

# Drop 'openyear' as it is not needed anymore
xpd_peak.drop('openyear', inplace=True, axis=1)
            
xpd_peak.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9959 entries, 0 to 9958
Data columns (total 40 columns):
expid          9959 non-null object
peakid         9959 non-null object
year           9959 non-null int64
season         9959 non-null category
host           9959 non-null category
route1         9959 non-null object
nation         9959 non-null object
leaders        9959 non-null object
termreason     9959 non-null category
traverse       9959 non-null int8
ski            9959 non-null int8
parapente      9959 non-null int8
camps          9959 non-null int64
rope           9959 non-null int64
totmembers     9959 non-null int64
smtmembers     9959 non-null int64
mdeaths        9959 non-null int64
tothired       9959 non-null int64
smthired       9959 non-null int64
hdeaths        9959 non-null int64
nohired        9959 non-null int8
o2used         9959 non-null int8
o2none         9959 non-null int8
o2climb        9959 non-null int8
o2descent      9959 non-null int8
o2sleep        9959 non-null int8
o2medical      9959 non-null int8
agency         9959 non-null object
comrte         9959 non-null int8
stdrte         9959 non-null bool
xpd_success    9959 non-null int64
smtmonth       9959 non-null category
heightm        9959 non-null int64
himal          9959 non-null category
region         9959 non-null category
open           9959 non-null int8
unlisted       9959 non-null int8
phost          9959 non-null category
pstatus        9959 non-null category
pyear          9959 non-null int32
dtypes: bool(1), category(8), int32(1), int64(11), int8(13), object(6)
memory usage: 1.9+ MB

xpd_peak DataFrame now contains the completed and clean data or Peaks and Expeditions.

Next the members dataset will be cleaned and then merged with the xpd_peak DataFrame. 

To recap: Each peak consists of many expeditions. Each expedition consists of many members. The completed dataset will contain data peak-expedition-members.

## 5. Members dataset cleaning

In [205]:
memb = pd.read_csv('members.csv')
memb.shape
memb.info()

(65534, 85)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 85 columns):
expid         65534 non-null object
membid        65534 non-null int64
peakid        65534 non-null object
myear         65534 non-null int64
mseason       65534 non-null int64
fname         65430 non-null object
lname         64627 non-null object
sex           65532 non-null object
age           65534 non-null int64
birthdate     65534 non-null object
yob           60481 non-null float64
calcage       65534 non-null int64
citizen       65524 non-null object
status        65518 non-null object
residence     60765 non-null object
occupation    49428 non-null object
leader        65534 non-null bool
deputy        65534 non-null bool
bconly        65534 non-null bool
nottobc       65534 non-null bool
support       65534 non-null bool
disabled      65534 non-null bool
hired         65534 non-null bool
sherpa        65534 non-null bool
tibetan       65534 non-null bool
msuccess      65534 non-null bool
mclaimed      65534 non-null bool
mdisputed     65534 non-null bool
msolo         65534 non-null bool
mtraverse     65534 non-null bool
mski          65534 non-null bool
mparapente    65534 non-null bool
mspeed        65534 non-null bool
mhighpt       65534 non-null bool
mperhighpt    65534 non-null int64
msmtdate1     65534 non-null object
msmtdate2     65534 non-null object
msmtdate3     65534 non-null object
msmttime1     16728 non-null float64
msmttime2     146 non-null float64
msmttime3     4 non-null float64
mroute1       65534 non-null int64
mroute2       65534 non-null int64
mroute3       65534 non-null int64
mascent1      65534 non-null int64
mascent2      65534 non-null int64
mascent3      65534 non-null int64
mo2used       65534 non-null bool
mo2none       65534 non-null bool
mo2climb      65534 non-null bool
mo2descent    65534 non-null bool
mo2sleep      65534 non-null bool
mo2medical    65534 non-null bool
mo2note       10459 non-null object
death         65534 non-null bool
deathdate     65534 non-null object
deathtime     535 non-null float64
deathtype     65534 non-null int64
deathhgtm     65534 non-null int64
deathclass    65534 non-null int64
msmtbid       65534 non-null int64
msmtterm      65534 non-null int64
hcn           65534 non-null int64
mchksum       65534 non-null int64
host          65534 non-null int64
comrte        65534 non-null bool
stdrte        65534 non-null bool
route1        64889 non-null object
route2        2830 non-null object
route3        440 non-null object
route4        157 non-null object
nation        65534 non-null object
leaders       65513 non-null object
sponsor       61670 non-null object
termreason    65534 non-null int64
totmembers    65534 non-null int64
smtmembers    65534 non-null int64
mdeaths       65534 non-null int64
tothired      65534 non-null int64
nohired       65534 non-null bool
smthired      65534 non-null int64
hdeaths       65534 non-null int64
bcdate        65534 non-null object
pkname        65534 non-null object
heightm       65534 non-null int64
dtypes: bool(28), float64(5), int64(28), object(24)
memory usage: 30.2+ MB

Referring to Himalayan Database Guide, irrelevent information such as first name, last name and information already contained in the combined xpd_peak DataFrame will be dropped. 

Features that remain will undergo further analysis for suitability.

Quick features analysis revealed the following:
- Age values are null, use calcage instead. 3098 values where age is 0, so use average age for those rows
- Summit information, msmtdate/msmttime/mroute/mascent[1-3] is incomplete
- Only 1,029 deaths from a total of 65,534 members (1.57%) occurred, therefore all death related information dropped
- 'nottobc' Members that did not reach base camp. This information is aready captured in overall member success and can be droppped.
- 'support' describe the few members (233) that travelled just beyond base camp to in a support role (often used for photographers and advisors for women’s expeditions).

In [206]:
# List of colmns to drop
col_to_drop = ['membid', 'myear', 'mseason', 'fname', 'lname', 'age', 'birthdate', 'yob', 'mclaimed', 
               'mdisputed', 'mhighpt', 'mperhighpt', 'msmtdate1', 'msmtdate2', 'msmtdate3', 'msmttime1', 
               'msmttime2', 'msmttime3', 'mroute1', 'mroute2', 'mroute3', 'mascent1', 'mascent2', 'mascent3', 
               'mo2note', 'death', 'deathdate', 'deathtime', 'deathtype', 'deathhgtm', 'deathclass', 'msmtbid' ,'hcn', 
               'mchksum', 'host', 'comrte', 'stdrte', 'route1', 'route2', 'route3', 'route4', 'leaders', 'sponsor', 
               'termreason', 'totmembers', 'smtmembers', 'mdeaths', 'tothired', 'nohired', 'smthired', 
               'hdeaths', 'bcdate', 'pkname', 'heightm', 'nottobc']
# Exclude features above
memb.drop(col_to_drop, inplace=True, axis=1)

# Exclude support members and drop the column
memb = memb[memb['support'] != True]
memb.drop('support', inplace=True, axis=1)

memb.shape
memb.info()

(65301, 29)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65301 entries, 0 to 65533
Data columns (total 29 columns):
expid         65301 non-null object
peakid        65301 non-null object
sex           65299 non-null object
calcage       65301 non-null int64
citizen       65291 non-null object
status        65285 non-null object
residence     60565 non-null object
occupation    49248 non-null object
leader        65301 non-null bool
deputy        65301 non-null bool
bconly        65301 non-null bool
disabled      65301 non-null bool
hired         65301 non-null bool
sherpa        65301 non-null bool
tibetan       65301 non-null bool
msuccess      65301 non-null bool
msolo         65301 non-null bool
mtraverse     65301 non-null bool
mski          65301 non-null bool
mparapente    65301 non-null bool
mspeed        65301 non-null bool
mo2used       65301 non-null bool
mo2none       65301 non-null bool
mo2climb      65301 non-null bool
mo2descent    65301 non-null bool
mo2sleep      65301 non-null bool
mo2medical    65301 non-null bool
msmtterm      65301 non-null int64
nation        65301 non-null object
dtypes: bool(19), int64(2), object(8)
memory usage: 6.7+ MB

Clean the new memb dataset features 'calcage', 'residence', 'occupation', 'sex' and 'status'.

In [207]:
# Create dictionary for mean age per expedition
dict_age_exp = dict(memb.groupby('expid')['calcage'].mean().apply(lambda x: int(round(x))))

# Find indices where calcage = 0
calcage_zeroes_idx = memb[memb['calcage'] == 0][['expid', 'calcage']].index

# Set the zero calcage values to the expid. This will next be replaced using .map
memb['calcage'].loc[calcage_zeroes_idx] = memb.loc[calcage_zeroes_idx]['expid']
# Now set the expid values to the mean of each expedition
memb['calcage'].loc[calcage_zeroes_idx] = memb['calcage'].loc[calcage_zeroes_idx].map(dict_age_exp)

# Replace ages 0 - 5 with average age
age_mean = int(round(memb['calcage'].mean()))
for age in np.arange(0,6):
    memb['calcage'] = memb['calcage'].replace(age, age_mean)

In [208]:
# Inspect 'residence'
memb['residence'].value_counts(dropna=False)

NaN                                                 4736
Tokyo, Japan                                        1234
Seoul, S Korea                                       912
Beding, Dolakha                                      744
Phortse, Khumbu                                      681
Pangboche, Khumbu                                    653
Khumjung, Khumbu                                     627
London, England                                      531
Chamonix, Haute-Savoie, France                       521
Thami, Khumbu                                        493
Kharikhola, Solukhumbu                               411
Seattle, Washington                                  346
Paris, France                                        343
Boulder, Colorado                                    306
Moscow, Russia                                       282
Barcelona, Spain                                     264
Madrid, Spain                                        262
Warsaw, Poland                                       248
Daegu (Taegu), S Korea                               233
Walung, Makalu-9, Makalu-Barun                       225
Namche Bazar, Khumbu                                 223
Vienna, Austria                                      194
Sapporo, Hokkaido, Japan                             184
Munich, Bavaria, Germany                             177
Busan (Pusan), S Korea                               172
Osaka, Japan                                         161
Yilajung, Khumbu                                     156
Sofia, Bulgaria                                      152
Thamo, Khumbu                                        151
Pamplona, Navarra, Spain                             148
                                                    ...
Hualein Shien, Taiwan                                  1
Thuringia, Germany                                     1
Hayama, Kanagawa, Japan                                1
Vastervik, Sweden                                      1
Sonchamp, Yvelines, France                             1
Montana, Valais, Switzerland                           1
Tweedbank, Galashiels, Scotland                        1
Sotillo de la Adarda, Avila, Spain                     1
St. Esteve, Vaucluse, France                           1
Varces, Isere, France                                  1
Miles, Illinois                                        1
Zentsuji, Kanagawa, Japan                              1
Ashgabad, Turkmenistan                                 1
Prien am Chiemsee, Bavaria, W Germany                  1
Cornudella de Montsant, Tarragona, Spain               1
Saint Amand, Manche, France                            1
Arkesden, Essex, England                               1
Shyzenji, Shizuoka, Japan                              1
Sanuma, Miyagi, Japan                                  1
Kathmandu & Hazelbrook, Sydney, NSW, Australia         1
Forel, Aargau, Switzerland                             1
Leutkirch im Allgau, Baden-Wuerttemberg, Germany       1
Wattenheim, Hesse, Germany                             1
Plock, Poland                                          1
Verzuolo, Cuneo, Italy                                 1
Wynau, Bern, Switzerland                               1
Amposta, Tarragona, Spain                              1
Kaprun, Austria                                        1
Essendon, Victoria, Australia                          1
Flexbourg, Bas-Rhin, France                            1
Name: residence, Length: 12884, dtype: int64

In [209]:
# For NaNs, assume expidition 'nation' as member 'residence'
memb['residence'].loc[memb['residence'] != memb['residence']] = memb['nation']

# Only use last word to extract the country
memb['residence'] = memb['residence'].apply(lambda x: str(x).split(', ')[-1])

# Inspect
memb['residence'].value_counts(dropna=False)

# Don't need 'nation' anymore
memb.drop('nation', inplace=True, axis=1)

Japan                                      6304
France                                     4506
Khumbu                                     3802
Spain                                      3114
England                                    3072
S Korea                                    2868
Italy                                      2646
Solukhumbu                                 2576
Switzerland                                2560
Germany                                    2268
Austria                                    1954
Makalu-Barun                               1680
China                                      1474
India                                      1465
Australia                                  1235
Poland                                     1228
Colorado                                   1163
Russia                                     1089
California                                 1020
Dolakha                                     953
Washington                                  937
W Germany                                   808
New Zealand                                 677
UK                                          662
Netherlands                                 629
Czech Republic                              527
Scotland                                    507
Slovenia                                    506
Yugoslavia                                  501
Norway                                      472
                                           ...
New Guinea                                    1
UK/USA                                        1
Japan (born Solukhumbu)                       1
Massachuestts                                 1
New Zealand and Kathmandu                     1
Turkmenistan                                  1
Boulder Colorado                              1
NY                                            1
Cayman Islands                                1
Channal Island                                1
Syanja                                        1
Russia (but currently living in Moscow)       1
Monitoba                                      1
Corsica                                       1
Saudia Arabia                                 1
Kotang                                        1
Fera (Junbesi). Solukhumbu                    1
Togo                                          1
Luzembourg                                    1
Bolzanom Italy                                1
Kobe,Japan                                    1
Malawi                                        1
Papua New Guinea                              1
Bheri                                         1
Patan                                         1
Ilam                                          1
Sankhuwasabha                                 1
Myagdi district                               1
Lousianna                                     1
 Italy                                        1
Name: residence, Length: 411, dtype: int64

As there are enough members from provinces in Nepal and states in the US, these values are not grouped into countries.

In [210]:
# Change Current country name to former name for consistency
# 'resident' includes  older names of countries in the previous Eastern Bloc. For consistency, change 
# new country names to older ones. 
memb['residence'] = memb['residence'].replace(to_replace='W Germany/Iran', value='Germany/Iran')
memb['residence'] = memb['residence'].replace(to_replace='W Germany', value='Germany')
memb['residence'] = memb['residence'].replace(to_replace='England', value='UK')

current_name = ['Czech Republic', 'Slovakia']
for name in current_name:
    memb['residence'] = memb['residence'].replace(to_replace=name, value='Czechoslovakia')
    
current_name = ['Croatia', 'Macedonia', 'Serbia',' Slovenia']
for name in current_name:
    memb['residence'] = memb['residence'].replace(to_replace=name, value='Yugoslavia')
    
current_name = ['Belarus', 'Estonia', 'Georgia', 'Kazakhstan', 'Latvia', 'Lithuania', 'Russia', 
                'Ukrain', 'Uzbekistan']
for name in current_name:
    memb['residence'] = memb['residence'].replace(to_replace=name, value='USSR')
    
current_name = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
                "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
                "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
                "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
                "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
                "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
                "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
                "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]    
for name in current_name:
    memb['residence'] = memb['residence'].replace(to_replace=name, value='USA')
    
current_name = ['a', 'Khumbu', 'Solukhumbu', 'Makalu-Barun', 'Dolakha', 'Okhaldhunga', 'Taplejung', 
                'Khotang', 'Kathmandu', 'Gorkha', 'Rasuwa', 'Gandaki Zone', 'Sindhupalchowk', 
                'Tanahun', 'Kaski', 'Bagmati Zone', 'Lumbini Zone', 'Kavre', 'Gandaki', 'Ramechap', 
                'Ramechhap', 'Lamjung', 'Pokhara', 'India (from Solukhumbu', 'Gulmi', 'Solukhumbu (', 
                'Dhading', 'Bhojpur', 'Dang', 'India (born in Solukhumbu', 'Kosi Zone', 
                'Kabre (now Dhulikel', 'Jiri', 'Janakpur', 'Chitwan', 'Udayapur', 'Baglung', 
                'Myagdi', 'Janakpur Zone', 'Sunsari', 'Upper Makalu-Barun', 'Kailali', 'Mahakali', 
                'Nuwakot', 'Palpa', 'Dhaulagiri Zone', 'Khumbu', 'Rapti', 'Mechi Zone', 'Bagmati', 
                'Jhapa', 'Kanchanpur', 'Dailekh', 'Sarlahi', 'Morang', 'Rukum', 'Lumbini', 'East Nepal', 
                'Lalitpur', 'Makalu-Barun (now Darjeeling', 'Myadi', 'Mahakali Zone', 'Bardiya', 
                'Narayani Zone', 'Sindhupalchok', 'Trachigmo', 'Sindhuli', 'Narayan Zone', 
                'Japan (born Solukhumbu', 'Patan', 'Tatopani (Kodari', 'Syanja', 'Langtang-3', 'Ilam', 
                'Tokha', 'Mustang', 'Mundu', 'Bhaktapur', 'Solukhumbu (between Chaurikharka', 'Butwal', 
                'Dharan', 'Myagdi district', 'Tehrathum', 'Taktod', 'Rapti Zone', 'Dhankuta', 'Bheri', 
                'Dharamasthali', 'Janakpur (currently living in Biratnagar', 'Fera (Junbesi', 'Bojpur', 
                'Pachthar', 'Ktm', 'Humla', 'Bardia', 'Narayani', 'Manang', 'Syangja', 'Fidim District', 
                'Nangda La (near Trachigmo', 'Village near Pokhara', 'Kotang', 'Saptari', 
                'Sankhuwasabha', 'India (born Makalu-Barun', 'Bhadrutar Village', 'Okhakdhunga', 
                'Dolpa', 'Solukbumbu']
for name in current_name:
    memb['residence'] = memb['residence'].replace(to_replace=name, value='Nepal')

current_name = ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 
                'Nova Scotia', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 
                'Northwest Territories', 'Nunavut', 'Yukon'] 
for name in current_name:
    memb['residence'] = memb['residence'].replace(to_replace=name, value='Canada')

Filter other mistakes in 'residence'.

In [211]:
# Fix space before country name
memb['residence'].loc[memb['residence'].str.contains(r"^ \w*")] = \
    memb['residence'][memb['residence'].str.contains(r"^ \w*")].str.strip()

# Replace values with a name in brackets '( )' and use first word to extract the country only, or names
# split by characters like ?, /, &.
memb['residence'].loc[memb['residence'].str.contains('[\)/&]')] = \
    memb['residence'][memb['residence'].str.contains('[\)/&]')].str.split('[?)/&]').apply(lambda x: x[0])

# Replace values with a komma. Example City,Country.
memb['residence'].loc[memb['residence'].str.contains(',')] = \
    memb['residence'][memb['residence'].str.contains(',')].str.split(',').apply(lambda x: x[-1])

# Inspect
memb['residence'].value_counts(dropna=False)

Nepal                                10415
Japan                                 6306
USA                                   6045
France                                4506
UK                                    3735
Spain                                 3114
Germany                               3077
S Korea                               2869
Italy                                 2650
Switzerland                           2561
Austria                               1957
USSR                                  1835
China                                 1474
India                                 1465
Australia                             1238
Poland                                1228
Czechoslovakia                        1063
Canada                                 960
New Zealand                            678
Yugoslavia                             672
Netherlands                            629
Scotland                               507
Slovenia                               506
Norway                                 472
Belgium                                403
Iran                                   294
Ukraine                                291
Sweden                                 285
Mexico                                 237
Bulgaria                               207
                                     ...
Pennsylvnia                              1
Chinese Mountaineering Team              1
Namibia                                  1
Slovenia Yugoslavia                      1
SLovenia                                 1
Massachuestts                            1
Fera (Junbesi                            1
Pennslvania                              1
New Guinea                               1
Brabant                                  1
Sarthe France                            1
Montreal Quebec                          1
Channal Island                           1
North Chungcheong S Korea                1
Malawi                                   1
Spain                                    1
Papua New Guinea                         1
Lousianna                                1
Australiz                                1
Bolzanom Italy                           1
Luzembourg                               1
Washington                               1
Washington                               1
Monitoba                                 1
Togo                                     1
Solukhumbu (between Chaurikharka         1
Georgia                                  1
Saudia Arabia                            1
Corsica                                  1
India (living in Darjeeling              1
Name: residence, Length: 228, dtype: int64

In [212]:
len(memb['residence'].value_counts(dropna=False)[memb['residence'].value_counts(dropna=False) == 1])
len(memb['residence'].value_counts(dropna=False)[memb['residence'].value_counts(dropna=False) == 2])

89

28

There are 117 + 41 = 158 entries that have single or double occurances which contains mostly spelling errors. These values could be edited individually, but it should not make a big difference to overall performance. To be revisted.

In [213]:
# Fill in NaN values as before
replace_nan_with_diff_object_val(memb, 'occupation')
replace_nan_with_diff_object_val(memb, 'status')
replace_nan_with_diff_object_val(memb, 'citizen')

# Set the 2 NaN values to male. Asumption as majority of climbers are male (90.2%)
memb['sex'].loc[memb['sex'].isnull()] = 'M' 

# Change data types where applicable
memb['sex'] = memb['sex'].astype('category')

In [214]:
# Change Current country name to former name for consistency
# 'resident' includes  older names of countries in the previous Eastern Bloc. For consistency, change 
# new country names to older ones. 
memb['citizen'] = memb['citizen'].replace(to_replace='W Germany/Iran', value='Germany/Iran')
memb['citizen'] = memb['citizen'].replace(to_replace='W Germany', value='Germany')

current_name = ['Czech Republic', 'Slovakia']
for name in current_name:
    memb['citizen'] = memb['citizen'].replace(to_replace=name, value='Czechoslovakia')
    
current_name = ['Croatia', 'Macedonia', 'Serbia',' Slovenia']
for name in current_name:
    memb['citizen'] = memb['citizen'].replace(to_replace=name, value='Yugoslavia')
    
current_name = ['Belarus', 'Estonia', 'Georgia', 'Kazakhstan', 'Latvia', 'Lithuania', 'Russia', 
                'Ukrain', 'Uzbekistan']
for name in current_name:
    memb['citizen'] = memb['citizen'].replace(to_replace=name, value='USSR')

In [215]:
# Convert these columns from bool to binary
to_bin = ['leader', 'deputy', 'bconly', 'disabled', 'hired', 'sherpa', 'tibetan', 'msuccess', 
          'msolo', 'mtraverse', 'mski', 'mparapente', 'mspeed', 'mo2used', 'mo2none', 'mo2climb', 
          'mo2descent', 'mo2sleep', 'mo2medical']
memb[to_bin] = memb[to_bin].astype('int8')

KeyError: "['stdrte'] not in index"

In [ ]:
memb.info()

Members dataset is now complete.

## 6. Merge final datasets

In [ ]:
xpd_peak.shape
memb.shape

df_complete = pd.merge(memb, xpd_peak, on=['peakid', 'expid'], how='left')

df_complete.shape
df_complete.info()

In [ ]:
# Save completed DataFrame 
df_complete.to_csv('DF_Himalayas_Expeditions.csv', index=False)